body,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 90vw;
  margin: 0px auto;
}

.header {
  position: relative;
  width: 100%;
  height: 94vh;
  min-height: 340px;
  background-image: url("./images/header-bg-norm.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  width: 542px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-btns button {
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #1f1f1f;
  width: calc(50% - 10px);
  height: 72px;
  opacity: 0.96;
}

.header-btns a:first-child button {
  background-color: #1f1f1f;
  color: #ffff;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s;
}

.header-btns a:last-child button {
  background-color: transparent;
  margin-left: 11px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  transition-duration: 0.2s;
}

.header-btns a:first-child button:hover {
  cursor: pointer;
  border: 0px;
  background-color: #fbce51;
  color: #1f1f1f;
  transition-duration: 0.2s;
}

.header-btns a:last-child button:hover {
  cursor: pointer;
  border: 0px;
  background-color: #1f1f1f;
  color: #ffff;
  transition-duration: 0.2s;
}

marquee {
  background-color: #f54932;
  color: white;
  font-size: 22px;
  padding: 10px;
  height: 6vh;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -6vh;
}

.circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  margin: 4px 6px;
}

.support_content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.support-lection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.support-lection > p {
  font-size: 36px;
  text-transform: uppercase;
  width: 57%;
}

.support-lection p:last-child {
  display: none;
}

.support-prices {
  display: flex;
  justify-content: space-between;
}

.support-prices img {
  width: 474px;
  height: 527px;
}

.support-prices > div > p:first-child {
  font-size: 36px;
  text-transform: uppercase;
}

.support-prices > div {
  margin-top: 25px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.support-prices p:last-child {
  font-size: 20px;
  text-decoration: none;
  color: #3057A2;
}

.support-prices table {
  border-collapse: collapse;
  border: none;
}

.support-prices table:nth-child(3) {
  display: none;
}

.support-prices table td {
  border: 2px solid #D0D0D0;
  padding: 10px;
}

.support-prices table tr:first-child td {
  border-top: none;
}

.support-prices table tr:last-child td {
  border-bottom: none;
}

.support-prices table tr td:first-child {
  border-left: none;
  color: #6b6b6b;
  font-size: 20px;
}

.support-prices table tr td:last-child {
  border-right: none;
  color: #313131;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 1520px) {
  .header {
    background-image: url("./images/header-bg-big.webp");
  }
}

@media (max-width: 1255px) {
  .header-btns a:last-child button {
    background-color: #ffff !important;
    margin-left: 0px;
  }
  .header-btns a:last-child button:hover {
    background-color: #fbce51 !important;
  }
  .support-lection {
    flex-direction: column;
    gap: 25px;
  }
  .support-lection p:first-child > span {
    display: none;
  }
  .support-lection p:last-child {
    display: block;
  }
  .support-lection > p { 
    font-size: 28px;
    width: 100%;
  }
  .support_content {
    gap: 40px;
  }
  .support-prices {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .support-prices > div {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .header {
    background-image: url("./images/header-bg-sm.webp");
  }
  .container > div {
    width: 100% !important;
  }
  .header-content > div:nth-child(1) p {
    font-size: 36px !important;
  }
  .header-content {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-btns {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-btns a {
    width: 100%;
  }
  .header-btns button,
  .header-btns button p {
    width: 100% !important;
    height: 47px;
  }
  .header-btns a:last-child button {
    background-color: #ffff !important;
    margin-left: 0px;
  }
  .header-btns a:last-child button:hover {
    background-color: #fbce51 !important;
  }

  .support-lection img:nth-child(2) {
    width: 335px;
  }
  .support-prices > div p:first-child {
    font-size: 28px;
  }
  .support-prices p:last-child {
    font-size: 18px;
  }
  .support-prices img {
    width: 335px;
    height: 402px;
  }
  .support-prices > div {
    gap: 30px;
  }
  .support-prices table:nth-child(3) {
    display: table;
  }
  .support-prices table:nth-child(2) {
    display: none;
  }
}


@media (max-width: 360px) {
  .header {
    background-image: url("./images/header-bg-sm.webp");
  }
  .header-content > div:nth-child(1) p {
    font-size: 32px !important;
  }
  .header-content {
    width: 300px;
  }
  .support-lection img:nth-child(2) {
    width: 285px;
  }
}

@media (max-height: 740px) {
  .header-content {
    margin-top: 50px;
    gap: 25px;
  }
  .header-content > div > p {
    font-size: 50px !important;
  }
  .header-btns button {
    height: 65px;
  }
  .header-btns a:last-child button {
    background-color: #ffff !important;
    margin-left: 0px;
  }
  .header-btns a:last-child button:hover {
    background-color: #fbce51 !important;
  }
  /* .header-btns button p {
      font-size: 18px !important;
    } */
  .header-btns button p {
    font-weight: normal;
    /* margin-top: 10px !important; */
  }
}

@media (max-height: 600px) {
  .header-content {
    /* width: 95vw; */
    margin-top: 30px;
    gap: 10px;
  }
  .header-content > div p {
    font-size: 28px !important;
  }
  .header-btns button {
    height: 58px;
  }
  .header-btns a:last-child button {
    background-color: #ffff !important;
    margin-left: 0px;
  }
  .header-btns a:last-child button:hover {
    background-color: #fbce51 !important;
  }
  .header-btns button p {
    font-size: 18px !important;
  }
  .header-btns button p {
    font-weight: normal;
  }
  marquee {
    bottom: 0px;
  }
  .header {
    height: 100vh;
  }
}
